# vim backup
*.swp

### Terraform ###
# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.*.backup

# Module directory
.terraform/

### Terraform Patch ###
#*.tfvars

### Terraform out ###
plan.out
